<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RepositorySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://packages.umbraco.org/umbraco/webservices/api/repository.asmx"
                binding="basicHttpBinding" bindingConfiguration="RepositorySoap"
                contract="UmbracoFeed.RepositorySoap" name="RepositorySoap" />
        </client>
    </system.serviceModel>
</configuration>